{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers nina.ns.cloudflare.com randy.ns.cloudflare.com
		propagation_delay 60s
	}

	handle /api/* {
		reverse_proxy server:3000
	}

	handle /decks/* {
		reverse_proxy server:3000
	}

	handle {
		reverse_proxy client:3001
	}
}
